---
import { Image } from 'astro:assets'

interface Props {
	id: string
	color: string
	title: string
	image1: ImageMetadata
	image2: ImageMetadata
}

const { id, color, title, image1, image2 } = Astro.props
---

<dialog popover id={id} class="mx-auto max-h-screen max-w-6xl translate-x-0 translate-y-48 overflow-y-auto bg-white opacity-0 shadow transition-all transition-discrete open:translate-y-0 open:opacity-100 lg:my-6 lg:max-h-[calc(100vh-3rem)] starting:open:translate-y-48 starting:open:opacity-0">
	<div class="sticky top-0 z-10 flex items-center justify-between px-6 py-3 text-white" class:list={[color]}>
		<h3>{title}</h3>
		<button popovertarget={id} class="cursor-pointer font-mono text-2xl">x</button>
	</div>

	<div class="grid gap-12 p-12">
		<div class="grid items-center gap-12 md:grid-cols-2">
			<div class="md:order-2">
				<Image src={image1} width={630} densities={[2]} alt="" />
			</div>
			<div class="space-y-6 text-lg text-neutral-500">
				<slot name="text1" />
			</div>
		</div>

		<div class="grid items-center gap-12 md:grid-cols-2">
			<div>
				<Image src={image2} width={630} densities={[2]} alt="" />
			</div>
			<div class="space-y-6 text-lg text-neutral-500">
				<slot name="text2" />
			</div>
		</div>
	</div>
</dialog>
